<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.game.asimplelifewithsister" version="0.99.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>SimpleLifeWithSister</name>
    <description>Simple Life with sister RPG Game</description>
    <author email="datthuongGK00@gmail.com" href="https://tinysweet.qzz.io/">Developer</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />

    <platform name="ios">
        <preference name="deployment-target" value="13.0" />
        <preference name="WKWebViewOnly" value="true" />
        <preference name="Orientation" value="landscape" />
        <preference name="Fullscreen" value="true" />
        <preference name="AllowInlineMediaPlayback" value="true" />
        <preference name="MediaPlaybackRequiresUserAction" value="false" />
    </platform>

    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
</widget>
